@model PhotoSharingApplication.Models.Photo


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div>
        <h2>"@Model.Title"</h2>

        @if (Model.PhotoFile != null)
         {
            <img width="800" src="@Url.Action("GetImage", "Photo",new { id=Model.PhotoID })" />
         }

        
    </div>
</body>
</html>
